# for audio operation
pip install pyaudio

# to load the PWM values before visualizing
# we need pigpio - control over GPIO
pip install pigpio


# for visualization.
pip install scipy
pip install matplotlib